/* Sizing and color of page*/
* {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 1.5rem;
  text-align: center;
  position: static;
  font-family: sans-serif;
  max-width: device-width;
  min-width: 100px;
  color: black;
  background-color: pink;
}

@property --text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: black;
}

:root {
  --text-color: blue;
}

p {
  color: rgb(0,0,128);
}

h1 {
  color: var(--text-color);
}

sizing {
  background-color: pink;
  padding: 20px;
  height: 100vh;
}

/* color for title*/
h1 {
  display: flex;
  color: #000000;
  border-style: solid;
  border-color: black;
  border-width: 0.5in;
  border-radius: 40pt;
  margin: auto;
  position: sticky;
  
}

h1:hover{
  background-color: blue;
}

h2{
  color: hsl(0, 0%, 0%);
}

h4 > ol {
  margin-top: 200px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 100px;
  padding-top: 200px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 100px;
}

section h4 {
  display: flex;
  align-items: center;
}

section ol {
  display: flex;
  display: grid;
  align-content: center;
  grid: auto / auto auto;
}

h2, h3 {
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  color: #000000;
  border-style: solid;
  border-color: black;
  border-width: 0.5in;
  border-radius: 40pt;
}

h3, h4, h5, h6{
  color(display-p3 0 0 0 / 1);
  text-decoration: underline;
}

p {
  padding: 20px 10px 20px 10px;
  color: color-mix(in hsl, hsl(0 0 0), white 0%);
  font-size: 1em;
}

@media (width: 768px) and (height: 1024px) {
  body {
    background-color: pink;
  }
}

video, audio {
  display: inline-block;
  margin: auto;
}

img {
  display: inline-block;
  margin: auto;
}

a:active {
  background-color: blue;
}

div > ol {
  display: grid;
  grid: auto / auto auto;
}

h6 {
  display: grid;
  margin: auto;
}

.business {
  background-color: white;
}

#media1 {
  display: flex;
  align-items: center;
}

a[target] {
  background-color: white;
}

section + div {
  background-color: lightblue;
}

div ~ p {
  background-color: blue;
}

p.business {
  background-color: purple;
}

h4:has(+ p) {
  color: gray;
}

nav {
  background-color: salmon;
}

nav > a {
    color: magenta;
}
